import * as React from 'react';
import { bindActionCreators } from 'redux';
import { connect } from 'react-redux';
import { CircularProgress } from '@material-ui/core';
import * as Actions from '../../modules/{{ Params.Entity.Name | DeCapitalize }}/actions';
import GenericTable from '../GenericTable/GenericTable';
import {{ Params.Entity.Name }} from '../../models/{{ Params.Entity.Name }}';
{%- for field in Params.Entity.ComplexFieldsDisplayedInList -%}
	{%- if field.Type.IsArray -%}
import { get{{ field.Type.EntityName }}DisplayValues } from '../Inputs/{{ field.Type.EntityName }}/{{ field.Type.EntityName }}Values';
	{%- else -%}
import { get{{ field.Type.EntityName }}DisplayValue } from '../Inputs/{{ field.Type.EntityName }}/{{ field.Type.EntityName }}Values';
	{%- endif -%}
{%- endfor -%}

{%- for field in Params.Entity.NamesOfComplexFieldsDisplayedInList -%}
import * as {{ field.Type.EntityName }}Actions from '../../modules/{{ field.Type.EntityName | DeCapitalize }}/actions';
{%- endfor -%}
import { IRootState } from '../../modules';
import './Table.css';

interface IStoreProps {
    {{ Params.Entity.PluralName | DeCapitalize }}: {{ Params.Entity.Name }}[] | null,
    actions: any,
    selected: {{ Params.Entity.IdField.Type.Name }}[],
	isFetching: boolean
}

interface I{{ Params.Entity.Name }}TableProps {
    showCheckboxes: boolean,
	showAddButton: boolean,
    multipleSelects: boolean,
	onSelect? : ((selected: {{ Params.Entity.IdField.Type.Name }}[]) => void);
}

type ICombinedProps = IStoreProps & I{{ Params.Entity.Name }}TableProps;

class {{ Params.Entity.Name }}Table extends React.Component<ICombinedProps> {
    public componentWillMount() {
		if (this.props.{{ Params.Entity.PluralName | DeCapitalize }} == null) {
			this.refreshData();
		}
    }
    public render() {
		const { {{ Params.Entity.PluralName | DeCapitalize }}, showCheckboxes, showAddButton, multipleSelects, isFetching } = this.props;
		
        if (isFetching) {
            return (
				<div className="loading-circle">
					<CircularProgress />
				</div>
				);
        }

        const data = !{{ Params.Entity.PluralName | DeCapitalize }}? null : {{ Params.Entity.PluralName | DeCapitalize }}.map(({{ Params.Entity.Name | DeCapitalize }}: {{ Params.Entity.Name }}) => ({
            {%- for field in Params.Entity.Fields -%}
				{%- if field.DisplayInList -%}
					{%- if field.Type.IsSimpleType -%}
			{{ field.Name }}: {{ Params.Entity.Name | DeCapitalize }}.{{ field.Name }},
					{%- else -%}
						{%- if field.Type.IsArray -%}
			{{ field.Name }}: get{{ field.Type.EntityName }}DisplayValues({{ Params.Entity.Name | DeCapitalize }}.{{ field.Name }}Ids),
						{%- else -%}
			{{ field.Name }}: get{{ field.Type.EntityName }}DisplayValue({{ Params.Entity.Name | DeCapitalize }}.{{ field.Name }}Id),
						{%- endif -%}
					{%- endif -%}
				{%- endif -%}
			{%- endfor -%}
        }));

        const tableHeadLabels: string[] = 
			[
				{%- for field in Params.Entity.Fields -%}
					{%- if field.DisplayInList -%}
				'{{ field.DisplayName | Capitalize | SplitCamelCase }}',
					{%- endif -%}
				{%- endfor -%}
			];
		
        return (
            <GenericTable
                data={data}
                selected={this.props.selected}
                tableTitle="{{ Params.Entity.PluralDisplayName }}"
                tableHeadLabels={tableHeadLabels}
                showCheckboxes={showCheckboxes}
				showAddButton={showAddButton}
                multipleSelects={multipleSelects}
				onSelect={this.props.onSelect}
				onRefresh={this.refreshData}
            />
        )
    }
	
	private refreshData = () => {
		this.props.actions.{{ Params.Entity.Name | DeCapitalize }}.get{{ Params.Entity.PluralName }}();
		{%- for field in Params.Entity.NamesOfComplexFieldsDisplayedInList -%}
		this.props.actions.{{ field.Type.EntityName | DeCapitalize }}.get{{ field.Type.PluralEntityName }}();
		{%- endfor -%}
    }
}

const mapStateToProps = (state: IRootState, ownProps: I{{ Params.Entity.Name }}TableProps) => ({
    {{ Params.Entity.PluralName | DeCapitalize }}: state.{{ Params.Entity.Name | DeCapitalize }}.{{ Params.Entity.PluralName | DeCapitalize }},
    isFetching: state.{{ Params.Entity.Name | DeCapitalize }}.isFetching,
	...ownProps
});

const mapDispatchToProps = (dispatch: any) => ({
    actions: {
		{{ Params.Entity.Name | DeCapitalize }}: bindActionCreators(Actions, dispatch),
		{%- for field in Params.Entity.NamesOfComplexFieldsDisplayedInList -%}
		{{ field.Type.EntityName | DeCapitalize }}: bindActionCreators({{ field.Type.EntityName }}Actions, dispatch),
		{%- endfor -%}
		},
});
export default connect(mapStateToProps, mapDispatchToProps)({{ Params.Entity.Name }}Table);
