import * as React from 'react';
import './{{Params.Entity.Name}}List.css';
import {{Params.Entity.Name}}Table from '../../../../components/Tables/{{Params.Entity.Name}}Table';

class {{Params.Entity.Name}}List extends React.Component {
    public render() {
        return (
            <div>
				<{{Params.Entity.Name}}Table selected={[]} showCheckboxes={true} multipleSelects={false}/>
            </div>
        )
    }
}

export default {{Params.Entity.Name}}List;
